<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Index Site</title>
</head>
<body>
    {{> nav}}
    <h1>This is the Index Site</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam neque harum minus! Delectus beatae voluptatum aliquam eos repellat officia. Vero molestiae delectus tenetur incidunt alias eligendi sint optio itaque quo reprehenderit, velit molestias sit quos et natus distinctio culpa ipsum, cumque reiciendis, impedit aut consequatur doloribus? Impedit ex consequatur ab.</p>
</body>
</html>